
.loading-spinner-container {
  padding: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.mat-column-Sugar {
  text-align: right;
  justify-content: flex-end;
}

.mat-row:nth-child(even){
  background-color: #FFFFFF;
}

.mat-row:nth-child(odd){
  background-color: #FAFAFA;
}
